<form [ngFormModel]="form" #f="ngForm"(ngSubmit)="submit(f.form)">

    <div class="form-group">
        <label for="currentpwd">Current Password</label>
        <input type="password"
                id="currentpwd"
                class="form-control"
                ngControl="currentpwd"
                #currentpwd="ngForm">

        <div *ngIf="currentpwd.touched && currentpwd.errors">
            <div *ngIf="currentpwd.errors.required"
                 class="alert alert-danger">
                this field is required
            </div>
            <div
                    *ngIf="currentpwd.errors.validOldPassword"
                    class="alert alert-danger">Old password is incorrect.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="newpwd">New Password</label>
        <input type="password"
               id="newpwd"
               class="form-control"
               ngControl="newpwd"
               #newpwd="ngForm">
        <div *ngIf="newpwd.touched && newpwd.errors">
            <div *ngIf="newpwd.errors.required"
                 class="alert alert-danger">
                this field is required
            </div>
            <div *ngIf="newpwd.errors.minLenghtPwd"
                 class="alert alert-danger">
                Password should be of min {{newpwd.errors.minLenghtPwd.minLength}} characters
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmpwd">Confirm Password</label>
        <input type="password"
               id="confirmpwd"
               class="form-control"
               ngControl="confirmpwd"
               #confirmpwd="ngForm">
        <div
                *ngIf="confirmpwd.touched && !confirmpwd.valid"
                class="alert alert-danger">
            Confirm the password.</div>

        <div
                *ngIf="confirmpwd.touched && form.errors && form.errors.passwordsShouldMatch"
                class="alert alert-danger">
            Passwords don't match.</div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>

</form>